<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Coffee</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" />
    <style>
      .btn-primary-green {
        background-color: #2d6a4f;
        color: #fff;
      }
    </style>
  </head>
  <body class="bg-light">
    <section class="py-3 py-md-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <div class="d-flex align-items-center mb-4">
              <a href="/coffee-flavours" class="btn btn-secondary"> <i class="bi bi-arrow-left"></i> Back </a>
            </div>
            <div class="card border border-light-subtle rounded-3 shadow-sm">
              <div class="card-body p-3 p-md-4 p-xl-5">
                <h2 class="fs-5 text-center text-center mb-4 fw-bold">Create New Coffee</h2>
                <form action="/api/coffee/create" method="POST">
                  <div class="row gy-2 overflow-hidden">
                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="coffee_beans" name="coffee_beans" placeholder="Coffee Beans" required />
                        <label for="coffee_beans" class="form-label">Coffee Beans</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="origin" name="origin" placeholder="Coffee Origin" required />
                        <label for="origin" class="form-label">Coffee Origin</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <textarea class="form-control" id="flavours" name="flavours" placeholder="Flavours" required></textarea>
                        <label for="flavours" class="form-label">Flavours</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="acidity" name="acidity" placeholder="Acidity" required />
                        <label for="acidity" class="form-label">Acidity</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <textarea class="form-control" id="body" name="body" placeholder="Body" required></textarea>
                        <label for="body" class="form-label">Body</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <textarea class="form-control" id="aftertaste" name="aftertaste" placeholder="Aftertaste" required></textarea>
                        <label for="aftertaste" class="form-label">Aftertaste</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="sweetness" name="sweetness" placeholder="Sweetness" required />
                        <label for="sweetness" class="form-label">Sweetness</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="img" name="img" placeholder="image" required />
                        <label for="img" class="form-label">Image</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="d-grid my-3">
                        <button class="btn btn-primary-green btn-lg" type="submit">Create Coffee</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
