<nav class="navbar bg-body-tertiary p-4 me-5">
  <div class="container-fluid justify-content-end">
    <% if (userRole === "admin" && currentPath !== "/admin/dashboard") { %>
      <div>
        <form action="/admin/dashboard" method="GET" class="d-inline">
          <button type="submit" class="btn mx-4 fs-4 btn-primary">Admin Page</button>
        </form>
      </div>
    <% } %>

    <a class="btn btn-outline-success mx-4 fs-4" href="/home" role="button">Beranda</a>
    <a class="btn mx-4 fs-4" href="/home#wheel" role="button">Coffee Wheel</a>
    <a class="btn mx-4 fs-4" href="/event" role="button">Event</a>
    <a class="btn mx-4 fs-4" href="/home#wheel" role="button">About</a>

    <div>
      <% if (userRole === "guest") { %>
        <form action="/signin" method="GET" class="d-inline">
          <button type="submit" class="btn mx-4 fs-4">Login</button>
        </form>
      <% } else { %>
        <form action="/api/auth/signout" method="POST" class="d-inline">
          <button type="submit" class="btn mx-4 fs-4">Logout</button>
        </form>
      <% } %>
    </div>
  </div>
</nav>