<style>
  .nav-item .btn {
    font-size: 1rem;
  }

  @media (max-width: 1199.98px) {
    .nav-item .btn {
      font-size: 0.875rem;
    }
  }

  @media (max-width: 991.98px) {
    .nav-item .btn {
      font-size: 0.875rem;
    }
  }

  @media (max-width: 767.98px) {
    .nav-item .btn {
      font-size: 0.75rem;
    }
  }

  @media (max-width: 575.98px) {
    .nav-item .btn {
      font-size: 0.625rem;
    }
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary p-4">
  <div class="container-fluid">
    <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mt-2" id="navbarNav">
      <% if (userRole === "admin" || userRole === "admin event") { %>
        <div class="nav-item m-2 mt-2">
          <% if (currentPath !== "/admin/dashboard") { %>
            <form action="/admin/dashboard" method="GET" class="d-inline">
              <button type="submit" class="btn mx-2 fs-4 btn-primary">Admin Page</button>
            </form>
          <% } %>
          <% if (currentPath === "/admin/dashboard") { %>
          <form action="/admin/signup" method="GET" class="d-inline">
            <button type="submit" class="btn mx-2 fs-4 btn-primary">Create Jury</button>
          </form>
          <% } %>
        </div>
      <% } %>

      <% if (currentPath !== "/home") { %>
        <div class="nav-item m-2 mt-2">
          <a class="btn btn-outline-success mx-2 fs-4" href="/home" role="button">Beranda</a>
        </div>
      <% } %>
      
      <ul class="navbar-nav mt-2">
        <li class="nav-item mx-2">
          <a class="btn fs-4" href="/home#wheel" role="button">Coffee Wheel</a>
        </li>
        <li class="nav-item mx-2">
          <a class="btn fs-4" href="/event" role="button">Event</a>
        </li>
        <li class="nav-item mx-2">
          <a class="btn fs-4" href="/home#wheel" role="button">About</a>
        </li>
      </ul>

      <div class="nav-item mx-2 mt-2">
        <% if (userRole === "guest") { %>
          <form action="/signin" method="GET" class="d-inline">
            <button type="submit" class="btn fs-4">Login</button>
          </form>
        <% } else { %>
          <form action="/api/auth/signout" method="POST" class="d-inline">
            <button type="submit" class="btn fs-4">Logout</button>
          </form>
        <% } %>
      </div>
    </div>
  </div>
</nav>